<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moneycheck.checkmoneyapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.app.checkmoney.Util.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">
        <activity
            android:name="com.app.checkmoney.Activity.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.checkmoney.Activity.LoginActivity"
            android:theme="@style/MainTheme" />
        <activity
            android:name="com.app.checkmoney.Activity.RegisterActivity"
            android:theme="@style/RegisterTheme" />
        <activity android:name="com.app.checkmoney.Activity.MainActivity" />
        <activity android:name="com.app.checkmoney.Activity.CreateRoomActivity"></activity>
    </application>

</manifest>